#greeting {
    background: teal;
    width: 300px;
    height: 75px;
}


#hangman-container {
    background: goldenrod;
    width: 300px;
    height: 300px;
}

#gallows-text {
    background: lightblue;
    width: 300px;
    height: 75px;
}

#keyboard {
    background: lightgreen;
    width: 300px;
    height: 100px;
}

.showLetters {
    display: inline-block;
}

#hangmanImages {
    display: inline-block;
    height: 250px;
    height: auto;
}