#greeting {
    background: teal;
    width: 300px;
    height: 75px;
}

.makingButtons {
    background: lightgoldenrodyellow;
    color: grey;
}

#hangman-container {
    background: goldenrod;
    width: 300px;
    height: 300px;
}

.hangmanText {
    border: 2px solid black;
}

#picture {
    width: 300px;
    height: 300px;
}

.hangmanImages {
    display: inline-block;
    height: 250px;
    height: 100px;
}

#gallows-text {
    background: lightblue;
    width: 300px;
    height: 75px;
}

#keyboard {
    background: lightgreen;
    width: 300px;
    height: 100px;
}

.showLetters {
    display: inline-block;
}
